* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #b6cbbd;
    padding: 0px 81vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: rockwell;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#gameboard {
    /* height: 90vh;
    width: 160vh; */
    height: fit-content;
    width: fit-content;
    padding: 4vh;
    background-color: #754e1a;
    /* border: 5px solid black; */
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left_area {
    height: 81vh;
    width: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
}
#game_title {
    height: 15%;
    width: 95%;
    font-size: 2rem;
    font-weight: bold;
    color: #f8e1b7;
    /* border: 1px solid black; */
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
}

#game_area {
    height: 85%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
}
#players {
    /* height: 70%;    42.525%  */
    height: 60%;  /*   41.31%  */
    width: 40%;
    position: relative;
    top: 15.5%;
    /* border: 1px solid black; */
    color: #cba35c;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 1% 0;
}
.player {
    height: 40%;
    width: 55%;
    border: 0.4rem solid #cba35c;
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: 400;
    color: #754e1a;
    background-color: #f8e1b7;
    border-radius: 1rem;
    margin: 3%;
    padding: 0 15%;
}
.player p {
    color: #754e1a;
    font-size: 1.25rem;
    margin-left: 1rem;
}
#play_area {
    height: 100%;
    width: 60%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#message_area {
    height: 14%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#msg_content {
    color: #754e1a;
    font-size: 0.875rem;
    font-weight: 600;
    border: 2px solid #f8e1b780;
    border-radius: 1rem;
    padding: 2.5% 6%;
    text-align: center;
    max-width: 70%;
    background-color: #cba35c;
    display: flex;
}
/* #msg_text p{
    width: auto;
    display: inline;
} */
#rolling_area {
    height: 67%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.dicespace {
    height: 97.5%;
    /* height: 80%; */
    width: 20%;
    font-size: 2.57rem;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;   
}
.dice_base {
    height: 2.77rem;
    width: 2.77rem;
    position: relative;
    /* bottom: 35vh; */
    
    /* color: #f8e1b7; */
    color: #dfcaa5;     /*    90%    */
    /* color: #b6cbbd; */
    /* color: #754e1a; */
    /* color: #cba35c; */
    /* background-color: #f8e1b7; */
    /* background-color: #cba35c; */
    /* background-color: #b6cbbd; */
    /* background-color: #754e1a; */
    /* border: 7px solid #f8e1b7; */
    /* border: 7px solid #b6cbbd; */
    border: 7px solid #cba35c;
    /* border: 7px solid #b6cbbd; */
    /* border: 7px solid #f8e1b7; */
    /* border: 7px solid #c6b492;        80%    */
    border-radius: 0.95rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .dice_base i {
    height: 38px;
    width: 75%;
    border: 1px solid black;
} */

/* #dice_base_one {
    
    color: #f8e1b7;
    color: #b6cbbd;
    color: #91a297;        80%   
    color: #754e1a;
    color: #cba35c;

    background-color: #f8e1b7;
    background-color: #cba35c;
    background-color: #b6cbbd;
    background-color: #754e1a;

    border: 7px solid #f8e1b7;
    border: 7px solid #b6cbbd;
    border: 7px solid #cba35c;

    80%
    border: 7px solid rgb(145, 162, 151); 
    0.9 opacity 
    border: 7px solid rgba(182, 203, 189, 0.7);   
    
    
    border: 7px solid #b6cbbd;
    border: 7px solid #f8e1b7;
} */


#rolling_button {
    height: 19%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#roll_dice {
    height: 10vh;
    width: 30vh;
    color: #754e1a;
    font-family: rockwell;
    font-size: 1.5rem;
    font-weight: 500;
    border: 0.2rem solid #cba35c;
    border-radius: 1.5rem;
    background-color: #f8e1b7;
    cursor: poleter;
}
#roll_dice:hover {
    border: 0.4rem solid #cba35c;
    color: #5d3e14;
    background-color: rgba(248, 225, 183, 0.9);
}


#right_area {
    height: 81vh;
    width: 52vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
}
#base_Score_board {
    height: 75vh;
    width: 45vh;
    border-radius: 0.75rem;
    /* border: 1px solid black; */
    background-color: #cba35c;
    display: flex;
    justify-content: center;
    align-items: center;
}
#base_Score_board table {
    height: 94%;
    width: 90%;
    /* align-items: center; */
    /* border: 1px solid black; */
    border: 2px solid #f8e1b7;
    border-radius: 0.2rem;
    background-color: #f8e1b7;
}
#base_Score_board th, #base_Score_board td {
    height: 4%;
    border: 1px solid #cba35c;
    border-radius: 0.1rem;
    font-size: 0.9rem;
    color: #754e1a;
    /* color: #b6cbbd; */
    /* color: #cba35c; */
}
.col2 {
    background-color: #b6cbbd;
    /* color: #b6cbbd; */
}
.thead, .tfoot, .sum, .bonus{
    background-color: #cba35c;
}
.col1 {
    padding-left: 3%;
    /* text-align: center; */
    /* background-color: #cba35c; */
}
.col2, .col3 {
    width: 25%;
    text-align: center;
}
/* totally 25 cssRules */

#winner_card_base {
    margin: 0;
    height: 100vh;
    width: 100%;
    /* height: fit-content;
    width: fit-content; */
    position:absolute;
    /* padding: 4vh; */
    /* background-color: #5f3400c0; */
    background-color: #754e1aea;
    /* border-radius: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
#winner_card {
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cba35c;
    border: 0.5rem solid #f8e1b780;
    border-radius: 2rem;
}
#w_or_l_msg {
    height: 33%;
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#primary_msg {
    height: min-content;
    width: max-content;
    /* color: #b6cbbd; */
    color: #754e1a;
    font-size: 1.75rem;
    text-align: center;
    font-weight: 600;
    /* text-shadow: -1px -1px 0 #754e1a60,
                 1px -1px 0 #754e1a60,
                 -1px 1px 0 #754e1a60,
                 1px 1px 0 #754e1a60; */
    text-shadow: -1px -1px 0 #f8e1b760,
                 1px -1px 0 #f8e1b760,
                 -1px 1px 0 #f8e1b760,
                 1px 1px 0 #f8e1b760;
}
#secondary_msg {
    color: #b6cbbd;
    color: #754e1a;
    font-size: 1rem;
    text-align: center;
    /* text-shadow: -1px -1px 0 #754e1a60,
                 1px -1px 0 #754e1a60,
                 -1px 1px 0 #754e1a60,
                 1px 1px 0 #754e1a60; */
    /* text-shadow: -1px -1px 0 #f8e1b760,
                 1px -1px 0 #f8e1b760,
                 -1px 1px 0 #f8e1b760,
                 1px 1px 0 #f8e1b760; */
}
#final_scores {
    height: 25%;
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.final_score {
    height: 90%;
    width: 30%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

}
.f_score_value{
    color: #f8e1b7;
    /* text-shadow: -3px -1px 0 #754e1a40,
                 3px -1px 0 #754e1a40,
                 -3px 1px 0 #754e1a40,
                 3px 1px 0 #754e1a40; */
    font-size: 2.75rem;
}
.player_name{
    color: #b6cbbd;
    text-shadow: -1px -1px 0 #754e1a60,
                 1px -1px 0 #754e1a60,
                 -1px 1px 0 #754e1a60,
                 1px 1px 0 #754e1a60;
    font-size: 1.2rem;
}
#v-deva_icon {
    height: 100%;
    width: 40%;
    /* border: 1px solid black; */
    color: #754e1a;
    font-size: 5.3rem;
    display: flex;
    justify-content: center;
}
/* #v-deva_icon i {
    border: 1px solid black;
    font-size: 5.3rem;
} */
#play_again {
    height: 20%;
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: end;
}
#play_again_btn {
    height: 10vh;
    width: 30vh;
    color: #754e1a;
    font-family: rockwell;
    font-size: 1.5rem;
    font-weight: 500;
    border: 0.2rem solid #754e1ac0;
    border-radius: 1.5rem;
    background-color: #f8e1b7;
    cursor: poleter;
}
#play_again_btn:hover {
    border: 0.4rem solid #754e1ac0;
    color: #5d3e14;
    background-color: rgba(248, 225, 183, 0.9);
}

#copyright {
    color: #754e1a;
    display: flex;
    position:absolute;
    bottom: 1vh;
}
#copyright i {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}
#copyright p {
    margin-left: 1vh;
}

/* colours */

.Colour_Codes {
    color: #f8e1b7; 
    color: rgb(248, 225, 183);
    color: #dfcaa5;     /*    90%    */
    color: rgb(223, 202, 165);
    color: #c6b492;     /*    80%    */
    color: rgb(198, 180, 146);

    color: #b6cbbd;
    color: rgb(182, 203, 189);
    color: #a4b7aa;     /*    90%    */
    color: rgb(164, 183, 170);
    color: #91a297;     /*    80%    */
    color: rgb(145, 162, 151);

    color: #754e1a;
    color: rgb(117, 78, 26);
    color: #5d3e31;     /*    80%    */
    color: rgb(93, 62, 49);

    color: #cba35c;
    color: rgb(203, 163, 92);
    color: #b79353;     /*    90%    */
    color: rgb(183, 147, 83);
    color: #a28249;     /*    80%    */
    color: rgb(162, 130, 73);

    /*  mix 01   */
    color: #a2a474;
    color: rgb(162, 164, 116);

    /* Adding Black */
    color: #b8a177; 
    color: rgb(216, 193, 151);

    color: #ab833c;
    color: rgb(171, 132, 60);
}